
body {
    display: grid;
    grid-template-areas:
            "header header header"
            "left main right";
    grid-template-columns:1fr auto 1fr;
    grid-template-rows: 10em 100vh 5em;
    font-family: Arial, sans-serif; 
}
/*________________*/
header {
    grid-area: header;
    
}
h2 {
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    position: fixed;
    top: 0; right: 0; left: 0;
    background-color: #d4e9f7; 
    width: 100%;
    display: flex;
    flex-direction: row; 
    padding: 10px;
    justify-content: center;
}

.nav-menu a {
    box-sizing: border-box;
    color: black;
    background-color: whitesmoke;
    text-decoration: none;
    border-radius: 5%;
    font-size: 25px;
    padding: 5px 5px;
    margin: 0.3em;   
}

.nav-menu a:hover {
    text-decoration: underline rgb(141, 141, 141);
}

/*____________________*/
aside.left {
    grid-area: left;
    background-color: rgb(230, 227, 227);

}

aside.right {
    grid-area: right;
    background-color: rgb(230, 227, 227);
}
/*_______________*/
main {
    grid-area: main;
}

      .form-section {
        margin-bottom: 20px;
        padding: 10px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    input[type="checkbox"],
    input[type="radio"] {
        margin-right: 10px;
    }

    input[type="submit"],
    button[type="reset"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover,
    button[type="reset"]:hover {
        background-color: #45a049;
    }

   
