* {
    font-family: monospace;
    font-size: 18px;
    box-sizing: border-box;
}

body {
    color: #1a1a1a;
    background-color: whitesmoke;
    margin: 0; 
    font-family: Arial, sans-serif; 
}
header > h1{
    font-size: 30px;

}

header {
    background-color: #b0d9f5; 
    padding: 1em 0;
    text-align: center;
}
.nav-menu a{
    box-sizing: border-box;
    color: #fff;
    background-color: #41abf2; ;
    border-radius: 5%;
    text-decoration: none;
    font-size: 25px;
    padding: 5px 5px;
}
.nav-menu a:hover{
    background-color: #1369a2;
}

form {
    margin: 0.5em 0;
    padding: 0 1em;
}

.form-section {
    margin: 1em 0;
}

.form-section.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Lägg till för att centrera element i raden */
}

input:valid {
    border-right: 1em solid rgb(35, 130, 71);
}

input:invalid {
    border-right: 1em solid rgb(111, 33, 33);
}

#meddelande {
    display: none;
}

input[type="radio"]:checked+label+#meddelande {
    display: block;
}

.tillbaka {
    background-color: gray;
    color: white;
}

.tillbaka:hover {
    background-color: rgb(89, 87, 87);
}
