/* här kommer css finnas för schema sidan*/
/* Grundstilar för mobila enheter */
* {
    font-family: 'Courier New', monospace;
}
body {
    background-color:whitesmoke ;
    padding: 0;
    margin: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* En kolumn som standard */
    grid-template-areas:
        "header"
        "right-row1"
        "left-row1"
        "right-row2"
        "left-row2"
        "right-row3"
         "left-row3"
        "footer";
    height: 100vh; /* Fyller hela skärmen vertikalt */
}

.header {
    grid-area: header;
    background-color: #3498db; /* Blå färg för header */
    color: white;
    padding: 20px;
    text-align: center;
}

.right-row1 {
    grid-area: right-row1;
    background-color: #14753c; /* Grön färg för main-content */
    color: white;
    padding: 20px;
    text-align: center;
}

.left-row1{
    grid-area: left-row1;
    background-color: #0cee66; /* Röd färg för sidebar */
    color: white;
    padding: 20px;
    text-align: center;
}
.right-row2{
    grid-area: right-row2;
    background-color: #4b1087; /* Röd färg för sidebar */
    color: white;
    padding: 20px;
    text-align: center;
    

}
        
.left-row2{
    grid-area: left-row2;
    background-color: #b094ec; /* Röd färg för sidebar */
    color: white;
    padding: 20px;
    text-align: center;
}
.right-row3{
    grid-area: right-row3;
    background-color: #e82a6c; /* Röd färg för sidebar */
    color: white;
    padding: 20px;
    text-align: center;

}
.left-row3{
    grid-area: left-row3;
    background-color: #efa0d5; /* Röd färg för sidebar */
    color: white;
    padding: 20px;
    text-align: center;

}
.footer{
    grid-area: footer;
    background-color: #f39c12; /* Gul färg för footer */
    color: white;
    padding: 20px;
    text-align: center;
}
/* Mediafråga för tabletter (minst 768px bred) */
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "right-row1 left-row1"
            "right-row2 left-row2"
            "right-row3 left-row3"
            "footer footer";
    }
}





/* Mediafråga för större skärmar (minst 1024px bred) */
@media (min-width: 1024px) {
    .grid-container {
       
    }
}

/* Mediafråga för stora skärmar (minst 1200px bred) */
@media (min-width: 1200px) {
    .grid-container {
        
    }
}
