body {
    padding: 0;
    margin: 0;
}
* {
    font-family: monospace;
    line-height: 1.5em;
    box-sizing: border-box;
}

h1{
    font-size: 20px;
}
p {
    font-size: 16px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-areas:
        "header"
        "dag-1"
        "row1"
        "dag-2"
        "row2"
        "dag-3"
        "row3"
        "footer";
    min-height: 100vh; 
}

/*_____GEMENSMMA STILAR____________*/

.row1, .row2, .row3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seminarium-dag-1, .seminarium-dag-2, .seminarium-dag-3 {
    width: 300px; 
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5%;
    text-align: center;
    margin: 10px; 
}


@media screen and (max-width: 768px) {
    .row1, .row2, .row3 {
        flex-direction: column;
    }

    .seminarium-dag-1, .seminarium-dag-2, .seminarium-dag-3 {
        width: calc(100% - 40px);
    }
}

@media screen and (mix-width: 768px) {
    .dag-1, .dag-2, .dag-3{
        
    }
}

/*_____HEADER_______________*/
.header {
    grid-area: header;
    background-color: #d4e9f7; 
    padding: 20px;
    text-align: center;
}

/*________NAV MENY______________*/

.nav-menu {
    position: fixed;
    top: 0; right: 0; left: 0;
    background-color: #d4e9f7; 
    width: 100%;
    display: flex;
    flex-direction: row; 
    padding: 10px;
    justify-content: center;
}

.nav-menu a {
    box-sizing: border-box;
    color: black;
    background-color: whitesmoke;
    text-decoration: none;
    border-radius: 5%;
    font-size: 25px;
    padding: 5px 5px;
    margin: 0.3em;
    position: relative;
    box-shadow: 0.2em 0.3em 0.4em -0.1em rgb(80, 80, 80);
	transition: all 0.4s;
    
   
}

.nav-menu a:hover {
    box-shadow: 0.3em 0.45em 0.6em -0.1em rgb(80, 80, 80);
	top: -0.3em;
	background-color: rgb(229, 234, 242);
}



/*__________RAD 1_________________________*/
.dag-1{
    grid-area:dag-1;
    background-color: #e69474;
    margin-top: 2em;
    padding-top: 2em;
    text-align: center;
    
}

.row1 {
    grid-area: row1;
    background-color: #e69474; 
    
}

.mobil{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

/*_________RAD 2__________________________*/
.dag-2{
    grid-area:dag-2;
    background-color: #8b5abc; 
    text-align: center;
}
.row2{
    grid-area: row2;
    background-color:#8b5abc; 
}

.dator, .vr{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*_________RAD 3__________________________*/

.dag-3{
    grid-area:dag-3;
    background-color: #ec98b5;
    text-align: center;
}
.row3{
    grid-area: row3;
    background-color: #ec98b5; 
}

.mobil-kamera{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
   