/* här kommer css finnas för schema sidan*/


body {
    background-color:#89cbf6;
    padding: 0;
    margin: 0;
}
* {
    font-family: monospace;
    font-size: 18px;
    line-height: 1.5em;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-areas:
        "header"
        "dag-1"
        "row1"
        "dag-2"
        "row2"
        "dag-3"
        "row3"
        "footer";
    min-height: 100vh; 
}

.header > h1{
    font-size: 30px;
}

.dag-1 > h1{
    font-size: 20px;

}
.dag-2> h1{
    font-size: 20px;
}

.dag-3 > h1{
    font-size: 20px;
}



@media screen and (min-width: 768px) {
    .dag-1 > h1{
        font-size: 28px;
    
    }
    .dag-2> h1{
        font-size: 28px;
    }
    
    .dag-3 > h1{
        font-size: 28px;
    }
}

.header {
    grid-area: header;
    background-color: #d4e9f7; 
    padding: 20px;
    text-align: center;
}



.header a{
    box-sizing: border-box;
    color: black;
    background-color: whitesmoke;
    text-decoration: none;
    border-radius: 5%;
    font-size: 25px;
    padding: 5px 5px;
}
.header a:hover{
    background-color: rgb(222, 218, 218);
}


.dag-1, .dag-2, .dag-3 {
    text-align: center;
    
}


  .row1, .row2, .row3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seminarium-dag-1, .seminarium-dag-2, .seminarium-dag-3 {
    width: 300px; /* Bredden på varje seminariumscontainer */
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5%;
    text-align: center;
    margin: 10px; /* Mellanrum mellan seminariumscontainers */
}




@media screen and (max-width: 768px) {
    .row1, .row2, .row3 {
        flex-direction: column;
    }

    .seminarium-dag-1, .seminarium-dag-2, .seminarium-dag-3 {
        width: calc(100% - 40px); /* Bredden är 100% - 40px av respektive "row" */
    }
}


/*___________________________________*/


.dag-1{
    grid-area:dag-1;
    background-color: #e69474;
}
.row1 {
    grid-area: row1;
    background-color: #e69474; 
}

  

.mobil{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}



/*___________________________________*/
.dag-2{
    grid-area:dag-2;
    background-color: #8b5abc; 
}
.row2{
    grid-area: row2;
    background-color:#8b5abc; 
}



.dator, .vr{
    width: 100%;
    height: 100%;
    object-fit: cover;
}






/*___________________________________*/

.dag-3{
    grid-area:dag-3;
    background-color: #ec98b5;
}
.row3{
    grid-area: row3;
    background-color: #ec98b5; 
}



.mobil-kamera{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
   