/*css för index.html*/

* {
    font-family: 'Courier New', monospace;
}
body {
    background-color:whitesmoke ;
    padding: 0;
    margin: 0;

}

/* grid container */
.grid-container{
    display:grid;
    grid-template-areas:
        'header'
        'main-content'
        'right-sidebar';
        justify-items: center;
}

@media (min-width: 956px) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr); 
        grid-template-areas:
            'header header header header header header' 
            'main-content main-content main-content right-sidebar right-sidebar right-sidebar'; 
    }
}
/*________________________*/
.header {
    grid-area:header;
    background:#e1dede;
    padding: 0;
}

/*__________________________*/
.nav-menu {
    position: fixed;
    background-color: #333;
    width: 100%;
    text-align: center;
}

.nav-menu a {
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

.nav-menu a:hover {
    background-color: whitesmoke ;
    color: black;
}


@media screen and (max-width: 600px) {
    .nav-menu {
        position: static;
    }

    .nav-menu a {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}

/*_____________________________*/
  .welcome {
    font-family: 'Courier New', monospace;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
}


.welcome-text {
    overflow: hidden;
    white-space: nowrap;
    animation: animateCode 5s steps(40);
    padding: 2em; 
}

/*Animering för welcome-text som får texten att skrivas in*/
@keyframes animateCode {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .welcome-text {
        white-space: normal;
        overflow: auto;
        animation: none; 
    }
}

/*_____________________*/
.content-container {
    background-color: whitesmoke;
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
}

/*_________________________*/
.main-section{
    grid-area:main-content;
    background:whitesmoke;
    font-size: 20px;
    padding:2em;
}


.section-text {
    max-width:600px ;
    min-width: 380px;
}

/*___________________*/
 .sidebar-section {
    grid-area:right-sidebar;
    background-color: whitesmoke;
    padding: 1em;
}

/* Grundstil för bilden */
 .sidebar-section > img {
    height: 350px;
    width: 350px;
    padding: 1em;
    padding-right: 2em;
}

@media (min-width: 768px) {
    .sidebar-section> img {
        height: 450px;
        width: 450px;
    }
}


