/* här finns css för välkomns sidan*/

* {
    font-family: 'Courier New', monospace;
}
body {
    background-color:whitesmoke ;
    padding: 0;
    margin: 0;

}

/* grid container */
.container{
    display:grid;
    grid-template-areas:
        'header'
        'main-content'
        'right-sidebar'
        'footer';
        justify-items: center;
}

.container > * {
    
    
}

/* assign columns to grid areas */
.container > .header {
    grid-area:header;
    background:#e1dede;
    padding: 0;
    
    
}


.menu {
    position: fixed;
    background-color: #333;
    width: 100%;
    text-align: center;
}

.menu a {
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

.menu a:hover {
    background-color: whitesmoke ;
    color: black;
}


@media screen and (max-width: 600px) {
    .menu {
        position: static;
    }

    .menu a {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}


  .välkommen {
    font-family: 'Courier New', monospace;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
}


.välkommen > .text {
    overflow: hidden;
    white-space: nowrap;
    animation: animateCode 5s steps(40);
    padding: 2em; 
}


@keyframes animateCode {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .välkommen > .text {
        white-space: normal;
        overflow: auto;
        animation: none; 
    }
}

.main-container {
    background-color: whitesmoke;
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;


}

.container > .main-content {
    grid-area:main-content;
    background:whitesmoke;
    font-size: 20px;
    padding:2em;
    
   
}

.main-content-text {
    max-width:600px ;
    min-width: 380px;
    
}



.container > .right-sidebar {
    grid-area:right-sidebar;
    background-color: whitesmoke;
    padding: 1em;
   
    
  
}

/* Grundstil för bilden */
.container > .right-sidebar > img {
    height: 350px;
    width: 350px;
    padding: 1em;
    padding-right: 2em;
}

/* Mediafråga för att ändra bildens storlek när webbläsaren är större än 768px */
@media (min-width: 768px) {
    .container > .right-sidebar > img {
        height: 450px;
        width: 450px;
    }
}




/* tablet breakpoint */
@media (min-width:956px) {
    .container {
        grid-template-columns:repeat(3, 1fr);
        grid-template-areas:
            'header header header'
            'main-content main-content right-sidebar'
            'footer footer footer';
    }
}